body {
  background: #000;
  color: #00ff9c;
  font-family: "Courier New", monospace;
  margin: 0;
}

header {
  padding: 12px;
  border-bottom: 1px solid #00ff9c;
  display: flex;
  justify-content: space-between;
}

a {
  color: #00ff9c;
  text-decoration: none;
}

.panel {
  border: 1px solid #00ff9c;
  padding: 12px;
  margin: 10px;
  background: #020202;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.terminal {
  height: 300px;
  overflow-y: auto;
  font-size: 13px;
  background: black;
}

.login-box {
  width: 320px;
  margin: 120px auto;
  border: 1px solid #00ff9c;
  padding: 20px;
  text-align: center;
}

.login-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: black;
  color: #00ff9c;
  border: 1px solid #00ff9c;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #00ff9c;
  border: none;
  cursor: pointer;
}

.profile {
  width: 400px;
  margin: 50px auto;
}
