{%load static%}
<!Doctype html>
<html lang="en" class="h-100">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="Description" content="">
        <meta name="Auther" content="Rutik Avhad">
        
        {% block 'title' %}
            <title>MotoMart. SHOP </title>
        {% endblock 'title' %}
            

        <!--bootstrap core css-->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
        <!--Custom css-->
        <link rel="stylesheet" href="{%static 'css/style.css'%}">

        
</head>

<body>
      {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block 'header' %}
    <header class="p-3 bg-dark text-white w-100 nav-masthead">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="bi me-2" width="32" height="32" src="{% static 'images/logo.png' %}"
                        aria-label="Bootstrap">
                </a>
                {% if request.user.is_authenticated %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{%url 'profile_update' %}" class="nav-link px-2">Profile</a>
                    </li>
                </ul>
                <div class="text-end">
                    <a type="button" href="{%url 'logout' %}" class="btn btn-danger">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    {%endblock 'header'%}
    {% block 'body' %}
        
    {% endblock 'body' %}   
</body>
{%block 'footer'%}
<footer class="footer text-muted bg-dark py-5">
    <div class="container">
        <p class=float-end mb-1>Poweres BY <a href="https://github.com/rutikavhad">GITHUB</a>
        </p>
        <p class="mb-1">MotoMart - Best place to Buy & Sell Cars</p>
        <p class="mb-0">@ Copywrite {%now 'Y'%} <a href="{%url 'home'%}">MotoMart</a></p>
    </div>
</footer>
{%endblock 'footer'%}
</html>