<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <label>Gender</label>
    <select name="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="O">Other</option>
    </select>

    <label>Age</label>
    <input type="number" name="age" required>
    <label>Phone</label>
    <input type="number" name="phone" required>

    <button type="submit">Register</button>
</form>


</body>
</html>